/* COLOR CUSTOME */
:root {
  --textColor: #1111;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --textWhite: #ffffff;
  --midnight: #104f55;
  --textBlue: rgb(0, 0, 255);
}

/* GENERAL CUSTOME */
* {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  transition: 0.1s ease 0.15s;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--bg-color);
}
.container {
  margin: 0.3rem;
  padding: 1.5rem;
  display: flex;
}
.btn {
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 10rem;
  color: var(--textWhite);
  background-color: rgb(0, 0, 255);
}
.btn:hover {
  border-radius: 0.7rem;
  color: var(--textWhite);
  background-color: rgb(67, 67, 247);
}
#icon {
  color: var(--textBlue);
  margin-right: 10px;
}
.Navbar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  top: 0;
  position: sticky;
  z-index: 999;
}
.clr {
  color: var(--textBlue);
}
/* DESKTOP DEVICE */
@media screen and (min-width: 760px) {
  .Navbar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    top: 0;
    position: sticky;
    z-index: 999;
  }
  .deskMenu {
    margin-left: 5rem;
    display: flex;
    align-items: center;
  }
  .deskMenu > span {
    margin-right: 1rem;
  }
  /* SIDENAV MENU LINKS */
  .mainMenu a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--textBlue);
    display: none;
    transition: 0.3s;
    visibility: hidden;
  }

  .burgerIcon {
    display: none;
    width: 35px;
    height: 5px;
    color: #242424;
    padding-top: 1.7rem;
    visibility: visible;
  }
  .socialMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.7rem;
    row-gap: 1rem;
  }

  /* MAIN PART */
  .mainPart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .partOne,
  #container {
    /*  width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 3rem;
  }
  .partOne > .topText {
    gap: -1rem;
  }
  .partSeconde {
    justify-content: flex-end;
    padding: 2rem;
  }
  .partSeconde >.container> .Img {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
  }
  
  /* TECHNOLOGYiconPART */
  .techIcon{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
  }
}

/* TABLET & MOBILE DEVICE */
@media screen and (max-width: 760px) {
  .burgerIcon {
    display: block;
    width: 35px;
    height: 5px;
    color: #242424;
    padding-top: 1.7rem;
    visibility: visible;
  }
  .mainMenu {
    height: 30%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -500px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: right 0.7s ease;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  .mainMenu a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--textBlue);
    display: block;
    transition: 0.3s;
  }
  .burgerIcon {
    display: block;
    width: 35px;
    height: 5px;
    color: #242424;
    padding-top: 1.7rem;
    visibility: visible;
  }
  .mainMenu.active {
    right: 0;
  }
  .deskMenu {
    display: none;
  }
  .socialMenu {
    display: none;
  }
  .mainPart {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .partOne,
  #container {
    /*  width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 0 3rem;
  }
  .partOne > .topText>h3 h2 {
    gap: -1rem;
  }
  .partOne>#container>button{
    display: flex;
    justify-content: center;
    align-self: center;
  }
   /* TECHNOLOGYiconPART */
   .techIcon{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
  }
}
